<html>

<body>
    <form method="POST">
        <textarea name="scripts""></textarea>
        <div>
            <button>Run</button>
        </div>
    </form>
    {% if data: %}
    <div>Data:</div>
    <table border="1px solid black">
        {% for col in header: %}
        <td>
            {{col}}
        </td>
        {% endfor %}
        {% for row in data: %}
        <tr>
            {% for item in row: %}
            <td>
                {{item}}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    {% if error: %}
        <div>{{error}}</div>
    {% endif %}
</body>

</html>